@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$font-family-chinese: "Noto Sans TC", serif;
$font-family-english: "Roboto", serif;

$color-theme-notWhite:#FBF2F2;
$color-bg-white:#ffffff;
$color-theme-black:#000000;
$color-theme-darkbrown:#650300;
$color-theme-red:#AA0601;
$color-glass-1:#5F3E2D;
$color-glass-2:#B75929;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
html{
    font-size: 16px !important;
}

body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    header{
        width: 100%;
        .nav-bar{
            color: $color-bg-white;
            display: flex;
            justify-content: space-around;
            background-color: $color-theme-red;
            height: 5rem;
            img{
                width: 5rem;
                object-fit: contain;
            }
            ul{ 
                width: fit-content;
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style: none;
                gap: 4rem;
                li{
                    font-size: 1.25rem;
                    width: fit-content;
                }
            }
        }

    }

    main{
        width: 100vw;

        .box{
            width: 100%;
            margin: 0;
            height: auto;
            padding: 4rem 5rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2{
                font-size: 3rem;
                color: $color-theme-darkbrown;
            }
        }
        .main-card{
            background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true");
            background-size: cover;
            height: 41vw;
            display: flex;
            justify-content: center;
            align-items: end;
            .main-card-content{
                display: flex;
                flex-direction: column;
                align-items: end;
                text-align: end;
                color: $color-theme-darkbrown;
                h1{
                    font-size: 4rem;
                }
                h2{
                    font-size: 2.25rem;
                }
                button{
                    color: #ffffff;
                    border: none;
                    background-color: $color-theme-red;
                    font-size: 1.25rem;
                    padding: 0.5rem 1rem;
                    width: fit-content;
                }
            }
        }
        .service{
            display: flex;
            background-color: $color-theme-notWhite;
            .card-service-container{
                display: flex;
                justify-content: center;
                gap: 1.5rem;
                .card-service{
                    width: 19rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    img{
                        width: 5rem;
                        margin: 1.5rem 0;
                    }
                    h3{
                        font-size: 1.5rem;
                    }
                    p{
                        font-size: 1rem;
                    }
                }
            }
            
        }

        .product-classic{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3rem;

            .card-product-classic-container{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;
                .card-product-classic{
                    img{
                        width: 19rem;
                        height: 19rem;
                        object-fit: cover;
                    }
                    h2{
                        color: $color-theme-red;
                        font-style: italic;
                        font-size: 2.5rem;
                        text-align: center;
                    }
                }
            }
        }

        .product-designer{
            background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true");
            background-size: contain;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2{
                color: $color-bg-white;
            }
            .card-designer-container{
                display: flex;
                justify-content: center;
                align-items: center;
                .card-designer{
                    width: 30rem;
                    img{
                        width: 100%;
                        object-fit: cover;
                        border: 0px;
                    }
                    h2{
                        margin-top: -6px;
                        border: 0px;
                        background-color: #ffffff;
                        color: $color-theme-red;
                        font-style: italic;
                        font-size: 2.5rem;
                        text-align: center;                    
                    }
                }
            }
        }
        .custom-feedback{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .card-custom-feedback-container{
                margin-top: 3rem;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 1rem;

                .card-custom-feedback{
                    border-radius: 5px;
                    box-shadow: 0px 2px 6px #dee2e6;
                    width: 19rem;
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                    .text{
                        padding: 1rem;
                        dl{
                            padding-bottom: 4.5rem;
                            dt{
                                font-weight: 800;
                            }

                        }
                    }
                }
            }
        }
        .contact{
            background-color: #FBF2F2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2.5rem;
            form{

                width: 35rem;
                display: flex;
                flex-direction: column;
                label{
                    margin-top: 1rem;
                }
                input{
                    position: relative;
                    height: 2.25rem;
                    margin:0.5rem 0;
                }
                input::placeholder{
                    position: absolute;
                    padding: 0.5rem;
                    top: 0;
                    left: 0;
                }
                input:nth-of-type(4){
                    text-align: start;
                    height: 8.5rem;
                }
            }
            .agreedment{
                display: flex;
                justify-content: start;
                align-items: center;
                input{
                    margin: 0.5rem;
                }
            }
            button{
                border: none;
                background-color: $color-theme-red;
                width: 26rem;
                color: $color-bg-white;
                font-size: 1rem;
                padding: 1rem;
            }   
        }
    }
    footer{
        font-weight: 300;
        font-size: 1rem;
        color: $color-bg-white;
        width: 100%;
        background-color: $color-theme-red;
        padding: 2rem 5rem;
        nav{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        hr{
            margin: 2rem 0;
        }
        ul{
            gap: 2rem;
            list-style: none;
            display: flex;
            justify-content: center;
            li{
                display: flex;
                align-items: center;
            }
            img{
                width: 3rem;
            }
        }
        .contact-info{
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1rem;
            h2{
                font-size: 1.25rem;
                font-weight: 400;
            }

        }
        .anounce{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    
}