@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px !important;
  font-family: "Noto Sans TC", serif, "Roboto", serif, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body a {
  text-decoration: none;
}
body header {
  width: 100%;
  background-color: #AA0601;
}
body header a {
  color: #ffffff;
}
body header .nav-bar {
  color: #ffffff;
  display: flex;
  margin: 0 auto;
  padding: 0 5rem;
  max-width: 87.5rem;
  justify-content: space-between;
  height: 5rem;
}
body header .nav-bar img {
  width: 5rem;
  -o-object-fit: contain;
     object-fit: contain;
}
body header .nav-bar ul {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 4rem;
}
body header .nav-bar ul li {
  font-size: 1.25rem;
  width: -moz-fit-content;
  width: fit-content;
}
body main {
  width: 100vw;
}
body main .box {
  width: 100%;
  margin: 0 auto;
  height: auto;
  padding: 4rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .box h2 {
  font-size: 3rem;
  color: #650300;
}
body main .main-card {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true");
  background-size: cover;
  height: 41vw;
  display: flex;
  justify-content: center;
  align-items: end;
}
body main .main-card .main-card-content {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
  color: #650300;
}
body main .main-card .main-card-content h1 {
  font-size: 4rem;
}
body main .main-card .main-card-content h2 {
  font-size: 2.25rem;
}
body main .main-card .main-card-content button {
  color: #ffffff;
  border: none;
  background-color: #AA0601;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  width: -moz-fit-content;
  width: fit-content;
}
body main .service {
  width: 100%;
  background-color: #FBF2F2;
}
body main .service .card-service-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 1.5rem;
}
body main .service .card-service-container .card-service {
  width: 19.125rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
body main .service .card-service-container .card-service img {
  width: 5rem;
  margin: 1.5rem 0;
}
body main .service .card-service-container .card-service h3 {
  font-size: 1.5rem;
}
body main .service .card-service-container .card-service p {
  font-size: 1rem;
}
body main .product-classic {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
body main .product-classic .card-product-classic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
body main .product-classic .card-product-classic-container .card-product-classic img {
  width: 19rem;
  height: 19rem;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .product-classic .card-product-classic-container .card-product-classic h2 {
  color: #AA0601;
  font-style: italic;
  font-size: 2.5rem;
  text-align: center;
}
body main .product-designer {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .product-designer h2 {
  color: #ffffff;
}
body main .product-designer .card-designer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .product-designer .card-designer-container .card-designer {
  max-width: 30rem;
}
body main .product-designer .card-designer-container .card-designer img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 0px;
}
body main .product-designer .card-designer-container .card-designer h2 {
  margin-top: -6px;
  border: 0px;
  background-color: #ffffff;
  color: #AA0601;
  font-style: italic;
  font-size: 2.5rem;
  text-align: center;
}
body main .custom-feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .custom-feedback .card-custom-feedback-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
body main .custom-feedback .card-custom-feedback-container .card-custom-feedback {
  border-radius: 5px;
  box-shadow: 0px 2px 6px #dee2e6;
  width: 19rem;
}
body main .custom-feedback .card-custom-feedback-container .card-custom-feedback img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .custom-feedback .card-custom-feedback-container .card-custom-feedback .text {
  padding: 1rem;
}
body main .custom-feedback .card-custom-feedback-container .card-custom-feedback .text dl {
  padding-bottom: 4.5rem;
}
body main .custom-feedback .card-custom-feedback-container .card-custom-feedback .text dl dt {
  font-weight: 800;
}
body main .contact {
  background-color: #FBF2F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
body main .contact form {
  width: 35rem;
  display: flex;
  flex-direction: column;
}
body main .contact form label {
  margin-top: 1rem;
}
body main .contact form input {
  border-radius: 0;
  border: 1px solid #000000;
  position: relative;
  height: 2.25rem;
  margin: 0.5rem 0;
}
body main .contact form input::-moz-placeholder {
  position: absolute;
  padding: 0.5rem;
  top: 0;
  left: 0;
}
body main .contact form input::placeholder {
  position: absolute;
  padding: 0.5rem;
  top: 0;
  left: 0;
}
body main .contact form input:nth-of-type(4) {
  text-align: start;
  height: 8.5rem;
}
body main .contact .agreedment {
  display: flex;
  justify-content: start;
  align-items: center;
}
body main .contact .agreedment input {
  margin: 0.5rem;
}
body main .contact button {
  border: none;
  background-color: #AA0601;
  width: 26rem;
  color: #ffffff;
  font-size: 1rem;
  padding: 1rem;
}
body main .section-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}
body main .section-product h1 {
  font-size: 2.625rem;
}
body main .section-product h2 {
  font-size: 2rem;
  font-weight: 400;
}
body main .series {
  display: flex;
  justify-content: center;
}
body main .series ul {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
}
body main .series ul li {
  font-size: 2rem;
  padding: 1.5rem;
  border: 1px solid #dcdcdc;
  width: 27rem;
}
body main .series .selected {
  border-bottom: 8px solid #AA0601;
}
body main .series .card-product-container {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
body main .main-pic {
  width: 100%;
  display: flex;
}
body main .main-pic img {
  margin: 0;
  padding: 0;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .card-product-container {
  margin-top: 1.5rem;
  padding: 1rem 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
body main .card-product-container .card-product img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .card-product-container .card-product dl {
  display: flex;
  justify-content: space-between;
}
body main .card-product-container .card-product dl dt {
  font-size: 1.5rem;
}
body main .card-product-container .card-product dl .price {
  color: #AA0601;
  font-weight: 600;
}
body main .card-product-container .card-product .selection-color {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}
body main .card-product-container .card-product .selection-color .color-box {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
}
body main .card-product-container .card-product .selection-color .color-5f3e2d {
  background-color: #5F3E2D;
}
body main .card-product-container .card-product .selection-color .color-b75929 {
  background-color: #B75929;
}
body main .sunglasses {
  grid-template-columns: repeat(3, 1fr);
}
body main .pages {
  height: 3rem;
  flex-wrap: nowrap;
  display: flex;
  margin-top: 5rem;
}
body main .pages div {
  margin: 0 -0.5px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.7rem 1.05rem;
  border: 1px solid #555555;
}
body main .current-page {
  background-color: #000000;
  color: #ffffff;
}
body main .store-list {
  width: 100%;
  padding: 6rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
body main .store-list .title-store {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5rem 1rem;
  border-left: 8px solid #9f1213;
}
body main .store-list .select-area {
  display: flex;
  gap: 1rem;
}
body main .store-list .select-area h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
body main .store-list .select-area select {
  border: 1px solid #c4d4da;
  border-radius: none;
  font-size: 1.125rem;
  color: #495057;
  opacity: 0.75;
  width: 19rem;
  height: 2rem;
  padding: 0 0.5rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("https://www.svgrepo.com/show/345449/arrow-drop-down.svg");
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: right 0 top 50%;
}
body main .store-list .card-store-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}
body main .store-list .card-store-container .card-store {
  width: 26rem;
  border: 1px solid rgba(0, 0, 0, 0.1254901961);
  color: #212529;
}
body main .store-list .card-store-container .card-store img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body main .store-list .card-store-container .card-store h2 {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1254901961);
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.5rem 1.5rem;
}
body main .store-list .card-store-container .card-store ul {
  font-size: 1.25rem;
  font-weight: 400;
  padding: 0.5rem 1.5rem;
  list-style: none;
}
body main .store-list .card-store-container .card-store ul li {
  margin: 0.5rem 0;
  display: flex;
  gap: 0.5rem;
}
body main .store-list .card-store-container .card-store ul li span {
  line-height: 1.5;
  height: -moz-fit-content;
  height: fit-content;
}
body main .store-list .card-store-container .card-store button {
  color: #ffffff;
  background-color: #000000;
  font-weight: 400;
  font-size: 1.125rem;
  padding: 1rem 0;
  width: 100%;
  border: none;
}
body main .store-list .card-store-container .detail {
  width: 32.875rem !important;
}
body main .store-list .card-store-container .detail li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
body main .store-list .card-store-container .detail li span {
  height: -moz-fit-content;
  height: fit-content;
}
body main .store-list .card-store-container iframe {
  width: 46.625rem;
  height: 100%;
}
body main .qabox-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
  padding: 6rem 5rem;
  max-width: 87.5rem;
}
body main .qabox-container .qabox {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  min-width: 53.5rem;
}
body main .qabox-container .qabox h1 {
  width: 100%;
  padding: 0.5rem 1rem;
  border-left: 8px solid #9f1213;
}
body main .qabox-container .qabox h2 {
  font-size: 1.5rem;
}
body main .qabox-container .qabox .question-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
body main .qabox-container .qabox .question-container .card-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: pre-wrap;
  height: -moz-fit-content;
  height: fit-content;
}
body main .qabox-container .qabox .question-container .card-question h3 {
  font-size: 1.25rem;
  font-weight: 800;
}
body main .qabox-container .qabox .question-container .card-question p {
  font-size: 1rem;
  line-height: 1.5;
}
body main .blog {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
  padding: 6rem 5rem;
  max-width: 87.5rem;
}
body main .blog h1 {
  width: 100%;
  padding: 0.5rem 1rem;
  border-left: 8px solid #9f1213;
}
body main .blog .card-blog-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
body main .blog .card-blog-container .card-blog {
  width: 100%;
  display: flex;
  margin: 2rem 0;
}
body main .blog .card-blog-container .card-blog img {
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .blog .card-blog-container .card-blog .text-content {
  position: relative;
  width: 60%;
  min-height: 20rem;
  padding: 0.5rem 1rem;
}
body main .blog .card-blog-container .card-blog .text-content h2 {
  color: #650300;
  font-size: 1.5rem;
  font-weight: 400;
}
body main .blog .card-blog-container .card-blog .text-content h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
}
body main .blog .card-blog-container .card-blog .text-content h3 .subtitle {
  font-size: 1.25rem;
}
body main .blog .card-blog-container .card-blog .text-content h3 .date {
  font-size: 1rem;
  font-weight: 400;
}
body main .blog .card-blog-container .card-blog .text-content p {
  color: #555555;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 300;
}
body main .blog .card-blog-container .card-blog .text-content a {
  color: #650300;
  font-size: 2rem;
  font-weight: 800;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
body main .blog .pages {
  align-self: center;
}
body footer {
  width: 100vw;
  background-color: #AA0601;
  color: #ffffff;
}
body footer .footer {
  margin: 0 auto;
  padding: 0 5rem;
  max-width: 87.5rem;
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
  padding: 2rem 5rem;
}
body footer .footer nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body footer .footer hr {
  margin: 2rem 0;
}
body footer .footer ul {
  gap: 2rem;
  list-style: none;
  display: flex;
  justify-content: center;
}
body footer .footer ul li {
  display: flex;
  align-items: center;
}
body footer .footer ul img {
  width: 3rem;
}
body footer .footer .contact-info {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Noto Sans TC", serif;
  gap: 1rem;
}
body footer .footer .contact-info h2 {
  font-size: 1.25rem;
  font-weight: 400;
}
body footer .footer .anounce {
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=styles.css.map */